<footer>
  <div id="footer-wrapper">
    <p>Copyright {{getCurrentYear}}</p>
    <p>Designed and Coded by James Skipp</p>
    <p>Source Code <a href="https://github.com/jamesskipp/jamesskipp-site">GitHub</a>
  </div>
</footer>
