<div id="background-pic-wrapper" class="fluid-container">
</div>
<nav id="top-nav-wrapper" class="navbar">
  <div id="top-nav">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">James Skipp</a>
    </div>
    <div class="nav navbar-nav navbar-right">
      <button class="dropbtn"><a href="/projects">{projects}</a></button>
      <button class="dropbtn"><a href="/blog">{blog}</a></button>
      <button class="dropbtn"><a href="/contact">{contact}</a></button>
    </div>
    <div class="nav navbar-nav navbar-right dropdown">
      <button class="dropbtn"><a href="/about">{about}</a></button>
      <div class="dropdown-content">
        <a href="/about">about</a>
        <a href="/skills">skills</a>
        <a href="/history">history</a>
        <a href="/resume">resume</a>
      </div>
    </div>
  </div>
</nav>
