<!DOCTYPE html>
<html lang="en-US">
	<head>
    {{> dependencies}}
		<link rel="stylesheet" href="css/list-group.css">
  </head>
  <body>
		{{> navbar}}
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-1">
        </div>
        <div class="col-sm-10">
					<h2>Contact Me</h2>
          <div class="list-group">
            <a class="list-group-item" href="mailto:jamesskipp@gmail.com">
							<div class="list-group-item-button">
							  Email
                <p>JamesSkipp@Gmail.com</p>
							</div>
						</a>
            <a class="list-group-item" href="https://www.linkedin.com/in/james-skipp/">
              <div class="list-group-item-button">
                LinkedIn
                <p>linkedin.com/in/james-skipp</p>
              </div>
            </a>
            <a class="list-group-item" href="https://github.com/jamesskipp">
              <div class="list-group-item-button">
                GitHub
                <p>github.com/jamesskipp</p>
              </div>
            </a>
            <a class="list-group-item" href="https://www.facebook.com/james.skipp.35">
              <div class="list-group-item-button">
                Facebook
                <p>facebook.com/james.skipp.35</p>
              </div>
            </a>
          </div>
        </div>
        <div class="col-sm-1">
        </div>
      </div>
			<div class="row">
        <div class="col-sm-1">
        </div>
        <div class="col-sm-10">
          <div class="buffer">
          </div>
        </div>
        <div class="col-sm-1">
        </div>
      </div>
    </div>
		{{> footer}}
  </body>
</html>
