<!DOCTYPE html>
<html lang="en-US">
	<head>
		<title>James Skipp | History</title>
    {{> dependencies}}
		<link rel="stylesheet" href="/css/history.css">
		<link rel="stylesheet" href="/css/list-group.css">
		<link rel="stylesheet" href="/css/btn-page.css">
  </head>
  <body>
		{{> navbar}}
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-1">
        </div>
        <div class="col-sm-10">
          <h2>Education</h2>
          <div class="list-group">
            <div class="list-group-item">
              <div class="container-fluid">
                <h3><a href="https://www.odu.edu/compsci">Old Dominion University</a></h3>
                <h4>Norfolk, VA</h4>
                <div class="text-left">
                  B.S. in Computer Science (In Progress)
                </div>
                <div class="text-right">
                  Fall 2016 - Spring 2018
                </div>
              </div>
            </div>
            <div class="list-group-item">
              <div class="container-fluid">
                <h3><a href="https://www.jmu.edu/biology/">James Madison University</a></h3>
                <h4>Harrisonburg, VA</h4>
                <div class="text-left">
                  B.S. in Biology
                </div>
                <div class="text-right">
                  Fall 2012 - Spring 2016
                </div>
              </div>
            </div>
          </div>
          <h2>Employment</h2>
          <div class="list-group">
            <div class="list-group-item">
              <div class="container-fluid">
                <h3><a href="http://www.poms.com/">POMS Corporation</a></h3>
                <h4>21641 Ridgetop Circle #200, Sterling, VA, 20166</h4>
                <div class="text-left">
                  As a member of the project services group at POMS, my responsibilities
                  included quality control of technical documents and POMSnet software
                  training materials, IT-related tasks including organizing electronic
                  equipment and preparing virtual machines for in-house POMS training,
                  and implementing customer design specifications using POMSnet software.
                  Besides my usual responsibilities, I spent most of the summer on a
                  solo project designing and implementing a software solution which
                  required me to learn VBA Excel. The Excel program revolved around
                  maintaining an Excel database of training records and presenting
                  the database as useful charts and notifications to company management.
                </div>
                <div class="text-right">
                  Summer 2015
                </div>
              </div>
            </div>
            <div class="list-group-item">
              <div class="container-fluid">
                <h3><a href="http://www.jmu.edu/pass/faculty-guide.shtml">James Madison University</a></h3>
                <h4>738 South Mason Street, Harrisonburg, VA, 22807</h4>
                <div class="text-left">
                  As a Peer Assisted Study Session (PASS) Leader, I was responsible
                  for organizing, designing, and presenting teaching sessions outside
                  lecture hours with students to help them succeed in a traditionally
                  difficult class (Chemistry 131). I worked self-sufficiently to
                  present two one-hour sessions a week during the school year for
                  groups of 10-50 students.
                </div>
                <div class="text-right">
                  Summer 2014 -  Fall 2015
                </div>
              </div>
            </div>
						<div class="list-group-item">
              <div class="container-fluid">
                <h3><a href="http://www.jmu.edu/pass/faculty-guide.shtml">James Madison University</a></h3>
                <h4>738 South Mason Street, Harrisonburg, VA, 22807</h4>
                <div class="text-left">
                  As a student tutor I provided one-on-one help to students completing summer coursework
									in organic and inorganic chemistry topics.
                </div>
                <div class="text-right">
                  Summer 2015
                </div>
              </div>
            </div>
          </div>
					<h2>Independent Course Work</h2>
          <div class="list-group">
            <div class="list-group-item">
              <div class="container-fluid">
                <h3><a href="https://www.udemy.com/the-complete-nodejs-developer-course-2/">The Complete Node.js Developer Course (2nd Edition)</a></h3>
                <div class="text-left">
                  Topics included Promises, Async/Await, MongoDB, Mongoose, SocketIO, Git, Mocha, SuperTest, etc.
                </div>
                <div class="text-right">
                  Fall 2017
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-1">
        </div>
      </div>
      <div class="row">
        <div class="col-sm-1">
        </div>
        <div class="col-sm-10">
          <div class="btn-wrapper">
            <a href="/skills" class="btn btn-page btn-left">
            <span class="glyphicon glyphicon-triangle-left"></span> Skills</a>
            <a href="/resume" class="btn btn-page btn-right">Resume
            <span class="glyphicon glyphicon-triangle-right"></span></a>
          </div>
        </div>
        <div class="col-sm-1">
        </div>
      </div>
    </div>
		{{> footer}}
  </body>
</html>
