<!DOCTYPE html>
<html lang="en-US">
	<head>
		<title>James Skipp | Projects</title>
    {{> dependencies }}
		<link rel="stylesheet" href="css/projects.css">
		<link rel="stylesheet" href="css/list-group.css">
		<link rel="stylesheet" href="/css/btn-page.css">
  </head>
  <body>
		{{> navbar}}
    <div class="container-fluid" id="#top">
      <div class="row">
        <div class="col-sm-1">
        </div>
        <div class="col-sm-10">
					{{> projects/metanews }}
					{{> projects/postnote_rest_api }}
					{{> projects/node_chat_app }}
					{{> projects/postnote_cli }}
					{{> projects/Todo_REST_API }}
					{{> projects/jamesskipp }}
					{{> projects/old_metanews }}
					{{> projects/notes_app }}
					{{> projects/weather_app }}
					{{> projects/zombies }}
					{{> projects/warfare_sim }}
					{{> projects/zendikar }}
        </div>
        <div class="col-sm-1">
        </div>
      </div>
			<div class="row">
        <div class="col-sm-1">
        </div>
        <div class="col-sm-10">
          <div class="btn-wrapper">
            <a href="projects#top" class="btn btn-page btn-center">Back to the Top</a>
          </div>
        </div>
        <div class="col-sm-1">
        </div>
      </div>
    </div>
		{{> footer}}
  </body>
</html>
