<!DOCTYPE html>
<html lang="en-US">
	<head>
		<title>James Skipp | Resume</title>
    {{> dependencies}}
		<link rel="stylesheet" href="/css/resume.css">
		<link rel="stylesheet" href="/css/btn-page.css">
  </head>
  <body>
		{{> navbar}}
    <div class="row">
      <div class="col-sm-1">
      </div>
      <div class="col-sm-10">
        <div id="resume-wrapper">
          <embed id="resume" src="doc/JamesSkipp_Resume.pdf#toolbar=1&scrollbar=0" type='application/pdf'>
        </div>
      </div>
      <div class="col-sm-1">
      </div>
    </div>
    <div class="row">
      <div class="col-sm-1">
      </div>
      <div class="col-sm-10">
        <div class="btn-wrapper">
          <a href="/history" class="btn btn-page btn-left">
          <span class="glyphicon glyphicon-triangle-left"></span> History</a>
        </div>
      </div>
      <div class="col-sm-1">
      </div>
    </div>
		{{> footer}}
  </body>
</html>
