h2 {
  margin-top: 40px;
  margin-bottom: 20px;
}

.text-projects {
  padding-left: 20px;
}

.text-projects p {
  padding-left: 20px;
}

.text-projects a {
  text-decoration: underline;
}

.img-wide {
  padding: 20px;
  width: 100%;
  height: calc(width / 2);
}
