<h2><a href="/">James Skipp's Personal Site</a></h2>
<div class="list-group-item">
  <div class="container-fluid">
    <h3><a href="https://github.com/jamesskipp/jamesskipp-site">James
      Skipp's Personal Site on GitHub</a></h3>
    <div class="text-projects">
      <h4>Description:</h4>
      <p>My personal site that I use to describe my technical skills, and
      my thoughts and opinions on software development topics.</p>
      <h4>Technical Details:</h4>
      <p>The front-end is based on HTML5, CSS3, and <a href="http://getbootstrap.com/2.3.2/">
      Bootstrap</a>. The back-end is built on Node.Js using <a href="https://www.npmjs.com/package/express">
      Express</a>, and <a href="https://www.npmjs.com/package/handlebars">
      handlebars</a>/<a href="https://www.npmjs.com/package/hbs">hbs</a>,
      and is hosted on <a href="https://www.heroku.com/">Heroku</a>.</p>
      <h4>My Contribution:</h4>
      <p>I am the sole contributor.</p>
    </div>
  </div>
</div>
