<h2>MetaNews</h2>
<div class="list-group-item">
  <div class="container-fluid">
    <h3><a href="https://github.com/MetaNews/meta-news-ng-app">MetaNews on GitHub</a></h3>
    <div class="container-fluid">
      <div class="text-projects">
        <h4>Description:</h4>
        <p>MetaNews is a web app designed to fetch and deliver news articles
        from major sources around the web. Users can vote on the quality of
        the article (authenticity, writing), as well as the perceived bias
        (left, right). The app tracts the data received from users not only
        to display a per-article summary of the quality and bias, but to record
        the historical aggregate of news sources and journalists. The goal
        is to create a news app where users can decide on the integrity of
        news based on what they read, while also considering the historical
        record of the publisher and journalist.</p>
        <h4>Technical Details:</h4>
        <p>This is an Angular 5 SPA (Single Page Application). That means it's written in the
        JavaScript superset TypeScript, and also includes HTML, and CSS components.
        It uses Bootstrap 3 CSS classes.
        The goal of this application is to rely on the AWS suite of server-less computing
        services. This means data is stored in DynamoDB and accessed via AWS Lambda,
        and AWS API Gateway. User authentication is handled
        by AWS Cognito Identity.</p>
        <h4>My Contribution:</h4>
        <p>I wrote all of the code in the Angular application repository,
        but my partner <a href="https://github.com/aussieadam">aussieadam</a>
        handles the AWS back-end.</p>
      </div>
    </div>
  </div>
</div>
