<h2><a href="https://jskipp-chat-app.herokuapp.com/">Node Chat App</a></h2>
<div class="list-group-item">
  <div class="container-fluid">
    <h3><a href="https://github.com/jamesskipp/chat-app">Node Chat App on GitHub</a></h3>
    <div class="text-projects">
      <h4>Description:</h4>
      <p>This is a basic chat app where users can create and join private chat rooms
      with custom usernames. Users can also share their location with other people in
      the chat room.</p>
      <h4>Technical Details:</h4>
      <p>The front-end is HTML5, CSS3 (Bootstrap 3), and JavaScript (jQuery). The
      back-end is a Node.js Express server running SocketIO. Other libraries used
      include <a href="https://www.npmjs.com/package/moment">Moment</a> for formatting
      time, and <a href="https://www.npmjs.com/package/mustache">mustache.js</a>
      for templating. Testing is handled by <a href="https://www.npmjs.com/package/mocha">
      Mocha</a>, and <a href="https://www.npmjs.com/package/expect">expect</a>.</p>
      <h4>My Contribution:</h4>
      <p>I am the sole contributor, but it is partially based on the tutorial provided as part
      of a Node.js Developer course written by Andrew Mead.</p>
    </div>
  </div>
</div>
