<h2>Notes App</h2>
<div class="list-group-item">
  <div class="container-fluid">
    <h3><a href="https://github.com/jamesskipp/notes-app">
      Notes App on GitHub</a></h3>
    <div class="text-projects">
      <h4>Description:</h4>
      <p>A simple note-taking app that I developed as part of a
      <a href="https://www.udemy.com/the-complete-nodejs-developer-course-2/">
      Udemy course on Node.Js development</a>. The app runs from the command
      line and creates encrypted or unencrypted notes in JSON format.</p>
      <h4>Technical Details:</h4>
      <p>The app is built with Node.Js and uses <a href="https://www.npmjs.com/package/yargs">
      Yargs</a> to handle command line arguments, <a href="https://www.npmjs.com/package/crypto">
      Crypto</a> for encryption, and <a href="https://www.npmjs.com/package/lodash">
      Lodash</a> for miscellaneous tasks.</p>
      <h4>My Contribution:</h4>
      <p>I am the sole contributor, but it is partially based on the tutorial provided as part
      of a Node.js Developer course written by Andrew Mead.</p>
    </div>
  </div>
</div>
