<h2>MetaNews (Old Version)</h2>
<div class="list-group-item">
  <div class="container-fluid">
    <h3><a href="https://github.com/MetaNews/WebsiteProject">MetaNews (Old Version) on
      GitHub</a></h3>
    <div class="container-fluid">
      <div class="text-projects">
        <h4>Description:</h4>
        <p>This was the first web app I ever attempted. The description of the MetaNews project
        can be found above under the current MetaNews description.</p>
        <h4>Technical Details:</h4>
        <p>The site's front-end is built with HTML5, CSS3, JavaScript,
        <a href="https://jquery.com/">jQuery</a>, and <a href="http://getbootstrap.com/2.3.2/">
        Bootstrap</a>. The graphs are provided by <a href="https://www.amcharts.com/">
        amCharts</a>. Site authentication is done using <a href="https://aws.amazon.com/cognito/">
        AWS Cognito</a>. The articles are generated via a webcrawling Python
        script hooked up to <a href="https://aws.amazon.com/dynamodb/">Amazon
        DynamoDB</a>. The back-end uses <a>
        Amazon Lambda</a> for server-less computations.</p>
        <h4>My Contribution:</h4>
        <p>I designed and built the front-end. My partner <a
        href="https://github.com/aussieadam">aussieadam</a> designed and
        built the back-end.</p>
      </div>
    </div>
  </div>
</div>
