<h2>PostNote CLI</h2>
<div class="list-group-item">
  <div class="container-fluid">
    <h3><a href="https://github.com/jamesskipp/postnote">PostNote CLI on GitHub</a></h3>
    <div class="text-projects">
      <h4>Description:</h4>
      <p>PostNote CLI is a command line interface for my PostNote project. I wrote it to help keep
      a folder of markdown text files on my personal computer in sync with an online database. The
      intent is to be able to publish blog posts to my personal site by adding new posts as text files
      to the synced folder.</p>
      <h4>Technical Details:</h4>
      <p>This project mostly relies on core Node modules, but also uses <a href="https://www.npmjs.com/package/yargs">
      Yargs</a> to handle command line arguments, and <a href="https://www.npmjs.com/package/lodash">
      Lodash</a> for handling collections. </p>
      <h4>My Contribution:</h4>
      <p>I am the sole contributor.</p>
    </div>
  </div>
</div>
