<h2>PostNote REST API</h2>
<div class="list-group-item">
  <div class="container-fluid">
    <h3><a href="https://github.com/jamesskipp/postnote-server">PostNote REST API on GitHub</a></h3>
    <div class="text-projects">
      <h4>Description:</h4>
      <p>This is a REST API I am developing to manage a database of notes for my PostNote project.</p>
      <h4>Technical Details:</h4>
      <p>This is a Node.js Express application using MongoDB. I used <a href="https://www.npmjs.com/package/mongoose">
      Mongoose</a> to interact with the database.
      Testing is handled by <a href="https://www.npmjs.com/package/mocha">
      Mocha</a>, <a href="https://www.npmjs.com/package/supertest">supertest</a>,
      and <a href="https://www.npmjs.com/package/expect">expect</a>.
      Additional development tools included <a href="https://www.getpostman.com/">Postman</a>
      for managing API requests, <a href="https://robomongo.org/">Robo
      3T (formerly Robomongo)</a> for database queries, and
      <a href="https://eslint.org/">ESLint</a> for code linting.
      The app is hosted on <a href="https://www.heroku.com/">Heroku</a>.</p>
      <h4>My Contribution:</h4>
      <p>I am the sole contributor.</p>
    </div>
  </div>
</div>
