<h2>Warfare Sim</h2>
<div class="list-group-item">
  <div class="container-fluid">
    <h3><a href="public/dl/WarfareCalculus.zip" download>
      Download</a></h3>
    <div class="text-projects">
      <h4>Description:</h4>
      <p>Based on the paper "Warfare Calculus" by Joshua M. Epstein, this
      is a wartime simulation similar to programs used by the US military
      to calculate casualties and victory probability in modern warfare.
      You can adjust power, size, and type of military forces on both sides
      to see how they might affect the outcome of war.</p>
      <h4>Technical Details:</h4>
      <p>The program is written in Prolog and runs on the
      <a href="http://www.swi-prolog.org/">SWI-Prolog</a> environment.</p>
      <h4>My Contribution:</h4>
      <p>I am the sole contributor.</p>
    </div>
  </div>
</div>
