<h2>Weather App</h2>
<div class="list-group-item">
  <div class="container-fluid">
    <h3><a href="https://github.com/jamesskipp/weather-app">
      Weather App on GitHub</a></h3>
    <div class="text-projects">
      <h4>Description:</h4>
      <p>A simple weather app that I developed as part of a
      <a href="https://www.udemy.com/the-complete-nodejs-developer-course-2/">
      Udemy course on Node.Js development</a>. The app runs from the command
      line, takes an address, and returns some information about the weather
      at that address.</p>
      <h4>Technical Details:</h4>
      <p>The app is built with Node.Js and uses <a href="https://www.npmjs.com/package/yargs">
      Yargs</a> to handle command line arguments, and <a href="https://www.npmjs.com/package/axios">
      Axios</a> to handle HTTP requests. Latitude and longitude information
      is supplied via the <a href="https://developers.google.com/maps/documentation/geocoding/start">
      Google Geocoding</a> API, and weather information is supplied via the
      <a href="https://darksky.net/dev">Dark Sky</a> API.
      <h4>My Contribution:</h4>
      <p>I am the sole contributor, but it is partially based on the tutorial provided as part
      of a Node.js Developer course written by Andrew Mead.</p>
    </div>
  </div>
</div>
