<h2>Zendikar Beach</h2>
<div class="list-group-item">
  <div class="container-fluid">
    <h3><a href="public/dl/Zendikar.zip" download>
      Download</a></h3>
    <div class="text-projects">
      <h4>Description:</h4>
      <p>This is my attempt to emulate the artwork of Zendikar, a fictional
      world described in Magic: The Gathering.</p>
      <h4>Technical Details:</h4>
      <p>The render was created using <a href="http://www.povray.org/">POV-Ray</a>.</p>
      <h4>My Contribution:</h4>
      <p>I am the sole contributor.</p>
    </div>
  </div>
</div>
<div class="list-group-item">
  <div class="container-fluid">
    <img src="img/Zendikar_Beach_1080_AA.png" class="img-wide" alt="Zendikar Beach in POV-Ray">
  </div>
</div>
