<h2>Zombies!</h2>
<div class="list-group-item">
  <div class="container-fluid">
    <h3><a href="public/dl/Zombies.zip" download>
      Download</a></h3>
    <div class="text-projects">
      <h4>Description:</h4>
      <p>Based on the paper "When Zombies Attack!" by Munz, Hudea, Imad, and Smith
      , this is a program that runs a simulation of a zombie apocalypse. You can
      play around with several variables and see how they might affect the
      zombie apocalypse.</p>
      <h4>Technical Details:</h4>
      <p>The program is written in Standard ML and runs on the
      <a href="http://www.smlnj.org/">SML-NJ</a> compiler.</p>
      <h4>My Contribution:</h4>
      <p>I am the sole contributor.</p>
    </div>
  </div>
</div>
