<div class="container-fluid">
  <div class="row">
    <div class="col-sm-5 full-image">
      <img src="img/jskipp_one.png" alt="Jamesskipp" id="jskipp1-pic">
    </div>
    <div class="col-sm-6 container-fluid">
      <div class="text-box">
        <p>Originally studying biology to apply for medical school, I discovered
           my love for coding late into my undergraduate studies by way of an
           elective programming course. Deciding to finish my studies in biology
           while also pursuing my new-found interest in coding, I completed my
           bachelor's degree in biology in May 2016 before transferring to a new
           school to earn a degree in computer science. Since then I have been
           studying and learning as much as I can on my own while looking for
           new opportunities to better myself as a programmer.</p>
           <br>
        <p>As an employee, I can provide commitment, hard work, and
           self-sufficiency towards a project, as well as a willingness and
           ability to quickly learn new topics on my own. As a programmer,
           I have experience with several languages. Primarily I have focused
           on <span style="color:#0033cc;">Java</span>, <span style="color:#cc6600;">
           ES6 JavaScript</span>, <span style="color:#000000;">HTML</span>, and
           <span style="color:#0066ff;">CSS</span>, but I have experience with
           <span style="color:#009999;">C++</span>, <span style="color:#336600;">
           Python</span>, and  <span style="color:#993399;">VBA for Excel</span>.
           My main interest is in full-stack web development using the
           <span style="color:#0033cc;">MEAN</span> stack, but I also have
           interest and knowledge in computer architecture, object-oriented
           programming and design, and the fundamentals of cybersecurity. </p>
           <br>
        <p>As someone who has pursued many topics during their education, I have
           a passion for learning that I bring to every new topic and opportunity.</p>
           <div class="centered-text">
             <p>
               <br>
               <a href="https://www.facebook.com/james.skipp.35">Facebook</a>
               <span class="glyphicon glyphicon-option-horizontal"></span>
               <a href="https://www.linkedin.com/in/james-skipp/">LinkedIn</a>
               <span class="glyphicon glyphicon-option-horizontal"></span>
               <a href="https://github.com/jamesskipp">GitHub</a>
             </p>
           </div>
      </div>
    </div>
    <div class="col-sm-1">
    </div>
  </div>
  <div class="row">
    <div class="col-sm-1">
    </div>
    <div class="col-sm-10">
      <div class="btn-wrapper">
        <a></a>
        <a href="/skills" class="btn btn-page">Technical Skills
        <span class="glyphicon glyphicon-triangle-right"></a>
      </div>
    </div>
    <div class="col-sm-1">
    </div>
  </div>
</div>
