<div class="container-fluid">
  <div class="row">
    <div class="col-sm-1">
    </div>
    <div class="col-sm-10">
      <h2>Education</h2>
      <div class="list-group">
        <div class="list-group-item">
          Old Dominion University
        </div>
        <div class="list-group-item">
          James Madison University
        </div>
      </div>
      <h2>Employment</h2>
      <div class="list-group">
        <div class="list-group-item">
          POMS Corporation
        </div>
        <div class="list-group-item">
          James Madison University
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-1">
    </div>
    <div class="col-sm-10">
      <div class="btn-wrapper">
        <a href="/skills" class="btn btn-page btn-back">
        <span class="glyphicon glyphicon-triangle-left"></span> Skills</a>
        <a></a>
      </div>
    </div>
    <div class="col-sm-1">
    </div>
  </div>
</div>
