<div class-"container-fluid">
  <div class="row">
    <div class="col-sm-1">
    </div>
    <div class="col-sm-10">
      <h2>Programming Languages</h2>
      <div class="list-group">
        <a class="list-group-item">JavaScript ES6</a>
        <a class="list-group-item">Java</a>
        <a class="list-group-item">HTML5 & CSS3</a>
        <a class="list-group-item">C++</a>
        <a class="list-group-item">Python</a>
        <a class="list-group-item">VBA for Excel</a>
      </div>
      <h2>Frameworks/Libraries/Tools</h2>
      <div class="list-group">
        <a class="list-group-item" href="https://nodejs.org/en/">Node.Js</a>
        <a class="list-group-item" href="https://www.npmjs.com/package/express">Express</a>
        <!-- <div class="list-group-item">Angular 5</div> -->
        <a class="list-group-item" href="https://jquery.com/">jQuery</a>
        <a class="list-group-item" href="http://getbootstrap.com/2.3.2/">Bootstrap</a>
        <a class="list-group-item" href="http://junit.org/junit5/">JUnit 5</a>
        <a class="list-group-item" href="https://www.npmjs.com/">NPM</a>
        <a class="list-group-item" href="https://www.npmjs.com/package/yargs">Yargs</a>
        <a class="list-group-item" href="https://www.npmjs.com/package/lodash">Lodash</a>
        <a class="list-group-item" href="https://www.npmjs.com/package/axios">Axios</a>
        <a class="list-group-item" href="https://www.npmjs.com/package/hbs">hbs</a>
        <a class="list-group-item" href="https://www.heroku.com/">Heroku</a>
        <a class="list-group-item" href="https://amazonlightsail.com/">Amazon Lightsail</a>
        <a class="list-group-item" href="https://aws.amazon.com/cognito/">AWS Cognito</a>
        <a class="list-group-item" href="https://aws.amazon.com/lambda/">AWS Lambda</a>
      </div>
      <h2>Database</h2>
      <div class="list-group">
        <div class="list-group-item">MongoDB</div>
        <div class="list-group-item">Amazon DynamoDB</div>
        <div class="list-group-item">SQL</div>
      </div>
      <h2>Software</h2>
      <div class="list-group">
        <div class="list-group-item">Microsoft Office Suite</div>
        <div class="list-group-item">Eclipse IDE</div>
        <div class="list-group-item">ATOM</div>
        <div class="list-group-item">PuTTY</div>
        <div class="list-group-item">WinSCP</div>
        <div class="list-group-item">GitHub</div>
        <div class="list-group-item">ArcGIS</div>
      </div>
    </div>
    <div class="col-sm-1">
    </div>
  </div>
  <div class="row">
    <div class="col-sm-1">
    </div>
    <div class="col-sm-10">
      <div class="btn-wrapper">
        <a href="/about" class="btn btn-page btn-back">
        <span class="glyphicon glyphicon-triangle-left"></span> Introduction</a>
        <a href="/history" class="btn btn-page btn-fwd">History
        <span class="glyphicon glyphicon-triangle-right"></span></a>
      </div>
    </div>
    <div class="col-sm-1">
    </div>
  </div>
</div>
