<div class-"container-fluid">
  <div class="row">
    <div class="col-sm-1">
    </div>
    <div class="col-sm-10">
      <h2>Programming Languages</h2>
      <div class="list-group">
        <a class="list-group-item" href="#">JavaScript ES6</a>
        <div class="list-group-item">Java</div>
        <div class="list-group-item">HTML5 & CSS3</div>
        <div class="list-group-item">C++</div>
        <div class="list-group-item">Python</div>
        <div class="list-group-item">VBA for Excel</div>
      </div>
      <h2>Frameworks/Libraries/Tools</h2>
      <div class="list-group">
        <div class="list-group-item">Node.Js</div>
        <div class="list-group-item">Express</div>
        <div class="list-group-item">Angular 5</div>
        <div class="list-group-item">jQuery</div>
        <div class="list-group-item">Bootstrap</div>
        <div class="list-group-item">JSON</div>
        <div class="list-group-item">JUnit 5</div>
        <div class="list-group-item">git</div>
        <div class="list-group-item">AWS Cognito</div>
        <div class="list-group-item">AWS Lambda</div>
      </div>
      <h2>Database</h2>
      <div class="list-group">
        <div class="list-group-item">MongoDB</div>
        <div class="list-group-item">DynamoDB</div>
        <div class="list-group-item">SQL</div>
      </div>
      <h2>Software</h2>
      <div class="list-group">
        <div class="list-group-item">Microsoft Office Suite</div>
        <div class="list-group-item">Eclipse IDE</div>
        <div class="list-group-item">ATOM</div>
        <div class="list-group-item">PuTTY</div>
        <div class="list-group-item">WinSCP</div>
        <div class="list-group-item">GitHub</div>
        <div class="list-group-item">ArcGIS</div>
      </div>
    </div>
    <div class="col-sm-1">
    </div>
  </div>
  <div class="row">
    <div class="col-sm-1">
    </div>
    <div class="col-sm-10">
      <div class="btn-wrapper">
        <a href="/about" class="btn btn-page btn-back">
        <span class="glyphicon glyphicon-triangle-left"></span> Introduction</a>
        <a href="/history" class="btn btn-page btn-fwd">History
        <span class="glyphicon glyphicon-triangle-right"></span></a>
      </div>
    </div>
    <div class="col-sm-1">
    </div>
  </div>
</div>
